*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #14bdac;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.card {
    display: grid;
    justify-items: center;
    gap: 25px;
    margin-top: 80px;
    width: 800px;
    padding: 30px;
}

.options {
    display: flex;
    align-content: center;
}

.card .markers {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 15px;
}

.board {
    border-color: none;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    padding: 20px;
}

.marker-btn {
    width: 120px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.field {
    background-color: #14bdac;
    border: none;
    outline: none;
    border-bottom: 5px solid #70757a;
    border-right: 5px solid #70757a;
    
    font-size: 50px;
    font-weight: 500;
}

.field.no-b {
    border-bottom: none;
}

.field.no-r {
    border-right: none;
}

.restart-btn {
    border: none;
    background-color: #14bdac;
    width: 120px;
    height: 30px;
    outline: none;

    font-size: 35px;
    font-weight: 500;
}